parameters:
    level: 0
    paths:
        -  %currentWorkingDirectory%/
    excludePaths:
        - %currentWorkingDirectory%/content/vendor
        - %currentWorkingDirectory%/content/themes
        - %currentWorkingDirectory%/content/plugins
        - %currentWorkingDirectory%/wp/
        - %currentWorkingDirectory%/content/wp-content/plugins/akismet/class.akismet-widget.php 
        - %currentWorkingDirectory%/content/wp-content/themes/twentynineteen/classes/class-twentynineteen-walker-comment.php 
        - %currentWorkingDirectory%/content/wp-content/themes/twentynineteen/comments.php      