parameters:
    level: 8
    paths:
        -  %currentWorkingDirectory%/
        -  %currentWorkingDirectory%/wp-content
    excludePaths:
        - %currentWorkingDirectory%/vendor
        - %currentWorkingDirectory%/wp/
