includes:
    - phpstan-baseline.neon

parameters:
    level: 0
    paths:
        -  %currentWorkingDirectory%/
        -  %currentWorkingDirectory%/wp-content
    excludePaths:
        - %currentWorkingDirectory%/vendor
        - %currentWorkingDirectory%/wp/
        - %currentWorkingDirectory%/wp-content/plugins/akismet/class.akismet-widget.php 
        - %currentWorkingDirectory%/wp-content/themes/twentynineteen/classes/class-twentynineteen-walker-comment.php 
        - %currentWorkingDirectory%/wp-content/themes/twentynineteen/comments.php      