<IfModule mod_ssl.c>
    <VirtualHost _default_:443>
        ServerAdmin webmaster@localhost
        ServerName wordpress-install
        DocumentRoot ${APACHE_DOCUMENT_ROOT}

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        # Enable/Disable SSL for this virtual host.
        SSLEngine on

        # Uncomment these lines with your cert paths
        #SSLCertificateFile /etc/ssl/certs/site.crt
        #SSLCertificateKeyFile /etc/ssl/certs/site.key
        #SSLCACertificatePath /etc/ssl/certs/digicert/

     </VirtualHost>
</IfModule>